@font-face {
    font-family: "PT Sans";
    src: url("../../fonts/PT_Sans/PTSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../fonts/PT_Sans/PTSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../fonts/PT_Sans/PTSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../fonts/PT_Sans/PTSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
