// ----------------------------------------------------------------------------
// Structure of #lightbox
//
//    #lightbox
//        .lightbox__button .lightbox__button--close
//        .lightbox__button .lightbox__button--prev
//        .lightbox__button .lightbox__button--next
//        .lightbox__container
//            .lightbox__item
//            .lightbox__caption
//                .caption
//                    .caption__title
//                    .caption__description
// ----------------------------------------------------------------------------

// TODO:HIGH Check the structure of the HTML/CSS.
// TODO:HIGH Style Lightbox.

:root {
    --lightbox__button--size: 32px;
    --lightbox__button--opacity: 0.25;
}

#lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    background-color: var(--color-background);

    padding: var(--body--padding);

    display: grid;
    grid-template-areas:
        ".    .       close"
        "prev contents next";
    grid-template-rows: min-content auto;
    grid-template-columns: min-content auto min-content;

    // See below: #lightbox.animation--fade-in-out
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms var(--transition--ease-out);

    &.animation--fade-in-out {
        opacity: 1;
        pointer-events: auto;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        grid-template-areas:
            ".           close"
            "contents contents";
        grid-template-rows: min-content auto;
        grid-template-columns: auto auto;
    }
}

.lightbox__button {
    cursor: pointer;

    width: var(--lightbox__button--size);
    height: auto;

    opacity: var(--lightbox__button--opacity);

    @media only screen and (max-width: $mobile-breakpoint) {
        display: none;
    }

    &--close {
        grid-area: close;

        justify-self: flex-end;
        align-self: flex-start;
    }

    &--prev {
        grid-area: prev;

        align-self: center;
        justify-self: flex-start;
    }

    &--next {
        grid-area: next;

        align-self: center;
        justify-self: flex-end;
    }
}

.lightbox__container {
    grid-area: contents;

    width: 100%;
    height: 100%;

    // See below: .show
    display: none;

    &.show {
        display: block;
    }
}

.lightbox__item {
    width: inherit;
    height: inherit;

    img {
        width: inherit;
        height: inherit;
        object-fit: contain;
    }
}

.lightbox__caption {
    // See ./src/scss/_typography.ts
}
