// ----------------------------------------------------------------------------
// Structure of #page
//
//    #page
//        .page__description (typeset)
//        .page__contents--base / .page__contents--gallery
// ----------------------------------------------------------------------------

.page__description {
    padding: 0 0 35px 0;

    // TODO:HIGH Set layout for page description.
    width: 75%;
    font-size: 1.15rem;

    @media only screen and (max-width: $mobile-breakpoint) {
        width: 100%;
        font-size: 1rem;
    }
}

.page__contents--base {
    // TODO:HIGH Implement page-width with grid columns. This will mainly
    // be used to prevent the text content on the page from spanning 100%.

    display: grid;
    row-gap: 25px;
}

.page__contents--gallery {
    --column-gap: 10px;

    // When both 'column-width' and 'column-count' properties are declared,
    // 'column-count' is the maximum number of columns and 'column-width' is
    // the minimum width for those columns.
    //
    // If 'options.column-count' is set in 'page.yaml' then 'column-count' is
    // overwritten. See ./sorolla/_page.html.
    column-width: 250px;
    column-count: auto;
    column-gap: var(--column-gap);

    @media only screen and (max-width: $mobile-breakpoint) {
        --column-gap: 5px;

        column-width: auto;
        column-count: 2;
    }

    > * {
        // Hack to set the row gap of gallery items.
        margin-bottom: var(--column-gap);

        // Make each item look like a link. Gallery items are divs that invoke
        // the Lightbox when clicked.
        cursor: pointer;
    }
}
