// ----------------------------------------------------------------------------
// Structure of #title
//
//    #title
//        .title__image
//        .title__label
// ----------------------------------------------------------------------------

.title__image {
    height: var(--header--height);
    width: auto;
}

.title__label {
    font-family: var(--font-family--primary);
    font-weight: 300;
    font-size: clamp(1.75rem, 3vw, 2rem);
    color: var(--color-foreground);
}
