{% from "_macros.html" import render_caption with context %}


<div id="lightbox">

    <img class="lightbox__button lightbox__button--close" src="{{ 'images/close.png' | static_theme }}">
    <img class="lightbox__button lightbox__button--prev" src="{{ 'images/prev.png' | static_theme }}">
    <img class="lightbox__button lightbox__button--next" src="{{ 'images/next.png' | static_theme }}">

    {% for content in page.contents %}

        <div class="lightbox__container">

            <img class="lightbox__item lightbox__item--image"
                src="{{ content.placeholder.path_relative_image | static_site }}"
                data-src="{{ content.path_relative | static_site }}">

            {% if page.show_captions %}

                <div class="lightbox__caption">

                    {{ render_caption(page, content) }}

                </div>

            {% endif %}

        </div>

    {% endfor %}

</div>