{% macro render_menu_items() %}

    {% for item in site.menu %}

        {% if item.is_link_page %}

            {% if page %}

                {% set current = "menu-item--current" if item.url == site.page_current.url else "" %}

            {% else %}

                {% set current = "" %}

            {% endif %}

            <a class="menu-item menu-item--link-page {{ current }}" href="{{ item.url }}">{{ item.label }}</a>

        {% elif item.is_link_url %}

            <a class="menu-item menu-item--link-url" href="{{ item.url }}" target="_blank">{{ item.label }}</a>

        {% elif item.is_spacer %}

            {% set label = item.label if item.label is not none else "" %}

            <span class="menu-item menu-item--spacer size--{{ item.size }}">{{ label }}</span>

        {% endif %}

    {% endfor %}

{% endmacro %}


{% macro render_content(page, content) %}

    <div class="content__container">

        {% if content.is_image %}

            <img class="content__item content__item--image"
                src="{{ content.placeholder.path_relative_image | static_site }}"
                data-src="{{ content.path_relative | static_site }}"
                data-placeholder-color='{{ content.placeholder.color | tojson }}'>

                {# NOTE: This last attribute 'data-placeholder-color' *must* be
                surrounded by single quotes. to properly render as JSON in the
                template. Its value is retrieved and parsed in Javascript. #}

        {% elif content.is_video %}

            <video class="content__item content__item--video" controls>
                <source
                    src="{{ content.path_relative | static_site }}"
                    type="{{ content.mimetype }}">
            </video>

        {% elif content.is_audio %}

            <audio class="content__item content__item--audio" controls preload="metadata">
                <source
                    src="{{ content.path_relative | static_site }}"
                    type="{{ content.mimetype }}">
                Your browser does not support the audio element.
            </audio>

        {% elif content.is_embedded %}

            <div class="content__item content__item--embedded">{{ content.html | safe }}</div>

        {% elif content.is_text_block %}

            {% set align = content.align if content.align else "justify" %}

            <div class="content__item content__item--text-block align--{{ align }} markdown">{{ content.body | safe }}</div>

        {% elif content.is_header %}

            {% set size = content.size if content.size else "medium" %}
            {% set align = content.align if content.align else "left" %}

            <div class="content__item content__item--header size--{{ size }} align--{{ align }}">{{ content.text }}</div>

        {% elif content.is_break %}

            {% set size = content.size if content.size else "medium" %}

            <div class="content__item content__item--break size--{{ size }}"></div>

        {% endif %}

        {% if page.show_captions %}

            <div class="content__item content__item--caption">

                {{ render_caption(page, content) }}

            </div>

        {% endif %}

    </div>

{% endmacro %}


{% macro render_gallery_content(page, content) %}

    <div class="content__container">

        <img class="content__item content__item--image"
            src="{{ content.placeholder.path_relative_image | static_site }}"
            data-src="{{ content.path_relative | static_site }}"
            data-placeholder-color='{{ content.placeholder.color | tojson }}'>

            {# NOTE: This last attribute 'data-placeholder-color' *must* be
            surrounded by single quotes. to properly render as JSON in the
            template. Its value is retrieved and parsed in Javascript. #}

        {# NOTE: Captions are rendered in the Lightbox. #}

    </div>

{% endmacro %}


{% macro render_caption(content, align_default="left") %}

    {% if content.caption_title or content.caption_description %}

        {% set align = content.caption_align if content.caption_align else align_default %}

        <div class="caption align--{{ align }}">

            {% if content.caption_title %}

                <span class="caption__title markdown">{{ content.caption_title | safe }}</span>

            {% endif %}

            {% if content.caption_description %}

                <span class="caption__description markdown">{{ content.caption_description | safe }}</span>

            {% endif %}

        </div>

    {% endif %}

{% endmacro %}


{% macro render_css(name, value) %}

    {% if value is not none %}{{ name }}: {{ value }};{% endif %}

{% endmacro %}