{% from "_macros.html" import render_menu_items with context %}


<div id="menu-mobile-buttons">

    <img class="menu-mobile-button menu-mobile-button--open"
        src="{{ url_for('main.static', filename='images/menu.png') }}">

    <img class="menu-mobile-button menu-mobile-button--close"
        src="{{ url_for('main.static', filename='images/close.png') }}">

</div>

<div id="menu-mobile">
    <div class="menu-mobile__menu-items">{{ render_menu_items() }}</div>
    <div class="menu-mobile__footer">
        <div>Lorem ipsum dolor sit.</div>
        <div>Duis et felis.</div>
    </div>
</div>