{% from "_macros.html" import render_content with context %}


{% extends "base.html" %}


{% block main %}

    <div id="page">

        {% if page.description %}

            <div class="page__description markdown">{{ page.description | safe }}</div>

        {% endif %}

        {% set class = "page__contents--gallery" if page.is_gallery else "page__contents--base" %}

        <div class="{{ class }}">

            {% for content in page.contents %}

                {{ render_content(page, content) }}

            {% endfor %}

        </div>

    </div>

{% endblock %}