{% from "_macros.html" import render_content, render_gallery_content with context %}


{% extends "base.html" %}


{% block main %}

    {% if not page.is_gallery %}

        <div id="page">

            {% for content in page.contents %}

                {{ render_content(page, content) }}

            {% endfor %}

        </div>

    {% else %}

        <div id="page-gallery">

            {% for content in page.contents %}

                {{ render_gallery_content(page, content) }}

            {% endfor %}

        </div>

    {% endif %}

{% endblock %}