@import "libs/normalize.css";
@import "libs/reset.css";

@import "fonts/cormorant-garamond.css";
@import "fonts/fira-code.css";
@import "fonts/montserrat.css";
@import "fonts/pt-sans.css";

:root {
    /*
     * base
     * --------------------------------------------------------------------- */

    /* --[PARENT]__[CHILD]--[ATTRIBUTE] */

    --body--background-color: hsla(0, 0%, 100%, 1);

    --body--padding-top: 50px;
    --body--padding-left: 50px;
    --body--padding-right: 50px;
    --body--padding-bottom: 50px;

    --link--color: hsla(0, 0%, 0%, 0.75);

    --font-family--primary: "Montserrat", sans-serif;
    --font-family--secondary: "Cormorant Garamond", serif;
    --font-family--monospace: "Fira Code", monospace;

    --header-and-menu--height: 50px;
    --main--height: auto;
    --footer--height: 200px;

    --header-and-menu--offset: calc(
        var(--header-and-menu--height) + var(--body--padding-top)
    );

    /*
     * shared
     * --------------------------------------------------------------------- */

    --transition--ease-out: cubic-bezier(0.2, 0.5, 0.3, 1);

    --caption--font-family: var(--font-family--primary);
    --caption--font-size: 9pt;
    --caption__title--color: hsla(0, 0%, 0%, 0.75);
    --caption__description--color: hsla(0, 0%, 0%, 0.5);

    /*
     * javascript
     * --------------------------------------------------------------------- */

    --placeholder-color--fallback: rgba(0, 0, 0, 0.075);
    --placeholder-color--alpha: 0.75;
}

/* *:not(path):not(g) {
    background: hsla(0, 0%, 0%, 0.5) !important;
    outline: solid 1px hsla(0, 100%, 50%, 0.5) !important;
    color: hsla(0, 0%, 100%, 0.9) !important;
} */

* {
    box-sizing: border-box;
}

a {
    color: var(--link--color);
    text-decoration: none;
}

html {
    /* prevent font scaling in landscape */
    -webkit-text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    /* FIXME: When this is enabled, the footer acts correctly and gets pushed
    to the bottom of the page. However in when in mobile-mode it causes the
    footer to lose all it's lower padding.

    height: 100vh; */

    padding-top: var(--body--padding-top);
    padding-left: var(--body--padding-left);
    padding-right: var(--body--padding-right);
    padding-bottom: var(--body--padding-bottom);

    background-color: var(--body--background-color);

    display: grid;
    grid-template-areas:
        "header   menu"
        "main     main"
        "footer footer";
    grid-template-rows: var(--header-and-menu--height) var(--main--height) var(
            --footer--height
        );
    grid-template-columns: 1fr;
}

header {
    grid-area: header;
    align-self: flex-start;
}

menu {
    grid-area: menu;
    align-self: flex-start;
    justify-self: end;
}

main {
    grid-area: main;

    padding-top: 40px;
}

footer {
    grid-area: footer;
    align-self: flex-end;
    justify-self: flex-end;
}

/*
 * common
 * ------------------------------------------------------------------------- */

/* Alignments */

.align--left {
    text-align: left;
}

.align--center {
    text-align: center;
}

.align--right {
    text-align: right;
}

.align--justify {
    text-align: justify;
}

/* Captions */

.caption {
    font-family: var(--caption--font-family);
    font-size: var(--caption--font-size);
}

.caption__title p,
.caption__description p {
    /* Prevents extra <p> tags created by Markdown from creating line-breaks */
    display: inline;
}

.caption__title {
    color: var(--caption__title--color);
}

.caption__description {
    color: var(--caption__description--color);
}

@media only screen and (max-width: 736px) {
    :root {
        /*
         * base
         * ----------------------------------------------------------------- */

        --body--padding-top: 30px;
        --body--padding-left: 30px;
        --body--padding-right: 30px;
        --body--padding-bottom: 30px;
    }
}
