:root {
    /*
     * Base
     * --------------------------------------------------------------------- */

    --footer--font-family: var(--font-family--primary);
    --footer--font-weight: 400;
    --footer--font-size: 11pt;
    --footer--color: hsla(0, 0%, 0%, 0.6);
}

/* TODO:MED Footer needs to be styled. */

/* Structure of #footer

    #footer
        .footer__copyright
---------------------------------------------------------------------------- */

#footer {
    font-family: var(--footer--font-family);
    font-weight: var(--footer--font-weight);
    font-size: var(--footer--font-size);
    color: var(--footer--color);
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}
