:root {
    /*
     * base
     * --------------------------------------------------------------------- */

    --header__image--height: 40px;

    --header__title--font-family: var(--font-family--primary);
    --header__title--font-weight: 400;
    --header__title--font-size: 26pt;
    --header__title--color: hsla(0, 0%, 0%, 0.75);
}

#header__image {
    /* TODO: Test this on mobile. Make sure it's working as expected. */

    height: var(--header__image--height);
    width: auto;
}

#header__title {
    font-family: var(--header__title--font-family);
    font-weight: var(--header__title--font-weight);
    font-size: var(--header__title--font-size);
    color: var(--header__title--color);
}

@media only screen and (max-width: 736px) {
    :root {
        /*
         * base
         * ----------------------------------------------------------------- */

        --header__title--font-size: 20pt;
    }
}
