:root {
    /*
     * page-gallery
     * --------------------------------------------------------------------- */

    /* NOTE: When both 'column-width' and 'column-count' properties are
     declared, 'column-count' is the maximum number of columns and
     'column-width' is the minimum width for those columns. */

    --page-gallery--column-width: 250px;
    --page-gallery--column-count: auto;
    --page-gallery--column-gap: 10px;

    /*
     * content-item
     * --------------------------------------------------------------------- */

    --content-item__text-block--font-family: var(--font-family--primary);
    --content-item__text-block--font-weight: 400;
    --content-item__text-block--font-size: 11pt;
    --content-item__text-block--font-color: hsla(0, 0%, 0%, 0.75);

    --content-item__header--font-family: var(--font-family--primary);
    --content-item__header--font-weight: 400;
    --content-item__header--font-size__small: 14pt;
    --content-item__header--font-size__medium: 18pt;
    --content-item__header--font-size__large: 24pt;
    --content-item__header--font-color: hsla(0, 0%, 0%, 0.75);

    --content-item__break__size--small: 0px;
    --content-item__break__size--medium: 50px;
    --content-item__break__size--large: 100px;
}

/** Structure of #page & #page-gallery

    #page / #page-gallery
        .content__container
            .content-item__image
            .content-item__video
            .content-item__audio
            .content-item__embedded
            .content-item__text-block
            .content-item__header
                .content-item__header--small
                .content-item__header--medium
                .content-item__header--large
            .content-item__break
                .content-item__break--small
                .content-item__break--medium
                .content-item__break--large
            .content__caption
                .caption
                    .caption__title
                    .caption__description
---------------------------------------------------------------------------- */

#page {
    /* TODO:LOW Implement page-width with grid columns. This will mainly be
    used to prevent the text content on the page from spanning 100%. */

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 25px;
}

#page-gallery {
    /* TODO:LOW Change the way regular pages and gallery pages are setup in
    terms of classes. Something like .page .page--base .page--gallery */

    -webkit-column-width: var(--page-gallery--column-width);
    -webkit-column-count: var(--page-gallery--column-count);
    -webkit-column-gap: var(--page-gallery--column-gap);

    -moz-column-width: var(--page-gallery--column-width);
    -moz-column-count: var(--page-gallery--column-count);
    -moz-column-gap: var(--page-gallery--column-gap);

    column-width: var(--page-gallery--column-width);
    column-count: var(--page-gallery--column-count);
    column-gap: var(--page-gallery--column-gap);
}

/* content */

.content__container {
    margin-bottom: var(--page-gallery--column-gap);

    cursor: pointer;
}

[class^="content-item__"],
.content__caption {
    /* See below: content-*.animation__fade-in */
    opacity: 0;
    transition: opacity 0.5s var(--transition--ease-out);
}

[class^="content-item__"].animation__fade-in,
.content__caption.animation__fade-in {
    opacity: 1;
}

/* content-image */

.content-item__image {
    display: block;

    width: 100%;
    height: auto;
}

/* content-video */

.content-item__video {
    display: block;

    max-width: 100%;
    height: auto;
}

/* content-audio */

.content-item__audio {
    width: 100%;
}

/* content-embedded */

.content-item__embedded {
    /* See easel/main/static/assets/static/main.js */
}

.content-item__embedded iframe {
    /* See easel/main/static/assets/static/main.js */
}

/* content-text-block */

.content-item__text-block {
    font-family: var(--content-item__text-block--font-family);
    font-weight: var(--content-item__text-block--font-weight);
    font-size: var(--content-item__text-block--font-size);
    color: var(--content-item__text-block--font-color);
}

/* content-header */

[class^="content-item__header--"] {
    font-family: var(--content-item__header--font-family);
    font-weight: var(--content-item__header--font-weight);
    color: var(--content-item__header--font-color);
}

.content-item__header--small {
    font-size: var(--content-item__header--font-size__small);
}

.content-item__header--medium {
    font-size: var(--content-item__header--font-size__medium);
}

.content-item__header--large {
    font-size: var(--content-item__header--font-size__large);
}

/* content-break */

.content-item__break--small {
    height: var(--content-item__break__size--small);
}

.content-item__break--medium {
    height: var(--content-item__break__size--medium);
}

.content-item__break--large {
    height: var(--content-item__break__size--large);
}

/* content captions */

.content__caption {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
}

@media only screen and (max-width: 736px) {
    :root {
        /*
         * page-gallery
         * ----------------------------------------------------------------- */
        --page-gallery--column-width: auto;
        --page-gallery--column-count: 2;
        --page-gallery--column-gap: 5px;
    }
}
