:root {
    /*
     * Page Gallery
     * --------------------------------------------------------------------- */

    /* NOTE: When both 'column-width' and 'column-count' properties are
     declared, 'column-count' is the maximum number of columns and
     'column-width' is the minimum width for those columns. */

    --page--gallery--column-width: 250px;
    --page--gallery--column-count: auto;
    --page--gallery--column-gap: 10px;
}

/* Structure of #page

    #page
        .page--base / .page--gallery
---------------------------------------------------------------------------- */

#page {
    /*  */
}

.page--base {
    /* TODO:HIGH Implement page-width with grid columns. This will mainly be
    used to prevent the text content on the page from spanning 100%. */

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 25px;
}

.page--gallery {
    column-width: var(--page--gallery--column-width);
    column-count: var(--page--gallery--column-count);
    column-gap: var(--page--gallery--column-gap);
}

.page--error-404 {
    padding-top: 10%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;

    font-family: var(--font-family--primary);
    font-weight: 400;
    font-size: 11pt;
    color: hsla(0, 0%, 0%, 0.75);
}
.page--error-404 a {
    text-decoration: underline;
}

.error-404__header {
    font-size: 20pt;
}

.error-404__message {
    font-size: 11pt;
}

/*
 * Media Queries
 * ------------------------------------------------------------------------- */

@media only screen and (max-width: 736px) {
    :root {
        /*
         * Page Gallery
         * ----------------------------------------------------------------- */
        --page--gallery--column-width: auto;
        --page--gallery--column-count: 2;
        --page--gallery--column-gap: 5px;
    }
}
