@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf")
        format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf")
        format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf")
        format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf")
        format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../../fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf")
        format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
