:root {
    --color-background: hsla(0, 0%, 100%, 1);

    --color-black-80: hsla(0, 0%, 0%, 0.8);
    --color-black-70: hsla(0, 0%, 0%, 0.7);
    --color-black-60: hsla(0, 0%, 0%, 0.6);
    --color-black-50: hsla(0, 0%, 0%, 0.5);
    --color-black-40: hsla(0, 0%, 0%, 0.4);
    --color-black-30: hsla(0, 0%, 0%, 0.3);
}
