html {
    box-sizing: border-box;
    text-size-adjust: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:hover,
*:focus {
    outline: none;
}

body,
header,
menu,
main,
footer {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
