@import url("reset.css");
@import url("fonts.css");
@import url("markdown.css");


:root {

    /*
     * base
     * -------------------------------------------------- */

    --body__background-color: hsla(0, 0%, 100%, 1.00);

    --color-accent__base: hsla(25, 90%, 60%, 1.00); /* customizable */
    --color-accent__light: hsla(25, 100%, 85%, 1.00); /* customizable */

    --font-family__sans-serif: "PT Sans", sans-serif;
    --font-family__sans-serif-alternate: "Roboto Condensed", sans-serif;
    --font-family__monospace: "Fira Code", monospace;

    /*
     * menu
     * -------------------------------------------------- */

    --menu__width: 175px; /* customizable */
    --menu__align: left; /* customizable */

    --menu__padding-left: 50px;
    --menu__padding-right: 25px;
    --menu__width-calculated: calc(var(--menu__padding-left) + var(--menu__width) + var(--menu__padding-right));

    --menu__font-family: var(--font-family__sans-serif-alternate);
    --menu__font-size: 10pt;
    --menu__text-color-hover: hsla(0, 0%, 50%, 1.00); /* FIXME: This doesn't seem to work... */
    --menu__text-color-current: var(--color-accent__base);

    /* menu header */
    --menu-header-label__font-family: var(--menu__font-family);
    --menu-header-label__font-size: 26pt;
    --menu-header-label__text-color: hsla(0, 0%, 20%, 1.00);
    --menu-header-image__width: var(--menu__width); /* customizable */
    --menu-header-image__height: auto; /* customizable */

    /* menu items */
    --menu-link-page__text-color: hsla(0, 0%, 30%, 1.00);
    --menu-link-url__text-color: hsla(0, 0%, 60%, 1.00);
    --menu-section__text-color: hsla(0, 0%, 80%, 1.00);
    --menu-spacer__height__small: 1px;
    --menu-spacer__height__medium: 10px;
    --menu-spacer__height__large: 30px;

    /*
    * menu mobile
     * -------------------------------------------------- */

    --menu-mobile__toggle-button-size: 32px;

    --menu-mobile__background-color: hsla(0, 0%, 100%, 0.96);
    --menu-mobile__font-size: 16pt;

    --menu-mobile-spacer__height__small: 3px;
    --menu-mobile-spacer__height__medium: 15px;
    --menu-mobile-spacer__height__large: 45px;

    /*
     * pages
     * -------------------------------------------------- */

    --page__width: 800px; /* customizable */
    --page__min-width: 64px;

    --page__font-family: var(--font-family__sans-serif);
    --page__font-size: 10pt;
    --page__text-color: hsla(0, 0%, 30%, 1.00);

    /*
     * page options
     * -------------------------------------------------- */

    --gallery__column-count: auto; /* customizable */
    --gallery__column-width: 250px; /* customizable */

    /*
     * page contents
     * -------------------------------------------------- */

    --page-text__font-family: var(--page__font-family);
    --page-text__font-size: var(--page__font-size);
    --page-text__font-color: var(--page__text-color);

    --page-header__font-family: var(--page__font-family);
    --page-header__font-size__small: 14pt;
    --page-header__font-size__medium: 18pt;
    --page-header__font-size__large: 24pt;
    --page-header__font-color: var(--page__text-color);

    --page-break__size__small: 10px;
    --page-break__size__medium: 25px;
    --page-break__size__large: 50px;

    /*
     * contents
     * -------------------------------------------------- */

    --content-caption__font-family: var(--font-family__sans-serif-alternate);
    --content-caption__font-size: var(--page__font-size);
    --content-caption-title__color: hsla(0, 0%, 60%, 1.00);
    --content-caption-description__color: hsla(0, 0%, 70%, 1.00);


    /*
    * markdown
     * -------------------------------------------------- */

    --markdown__font-family: var(--page__font-family);

    --markdown-link__text-color: var(--color-accent__base);
    --markdown-link__text-color-hover: hsla(0, 0%, 55%, 1.00);

    --markdown-strike-through__text-color: hsla(0, 0%, 60%, 1.00);

    --markdown-highlight__text-color: var(--page__text-color);
    --markdown-highlight__background-color: var(--color-accent__light);

    --markdown-hr__color: hsl(0, 0%, 90%, 1.00);

    --markdown-code__font-family: var(--font-family__monospace);
    --markdown-code__font-size: 10pt;
    --markdown-code__text-color: var(--page__text-color);
    --markdown-code__background-color: hsla(0, 0%, 94%, 1.00);

    /*
    * footer
    * -------------------------------------------------- */

    --footer__font-family: var(--page__font-family);
    --footer__text-color: hsla(0, 0%, 0%, 0.10);
}


* {

    box-sizing: border-box;
}


html {

    /* prevent font scaling in landscape */
    -webkit-text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
 * body
 * ------------------------------------------------------------------------- */

body {

    background-color: var(--body__background-color);

    display: grid;
    grid-template-areas: "area-menu""area-main";
    grid-template-columns: var(--menu__width-calculated) 1fr;
}


/*
* menu
* ------------------------------------------------------------------------- */

menu {

    /*  */
}


/*
 * menu desktop
 * ------------------------------------------------------------------------- */

menu .menu-desktop {

    grid-area: "area-menu";

    position: fixed;
    top: 100px;
    left: var(--menu__padding-left);

    text-align: var(--menu__align);
}

menu .menu-desktop .menu-header {

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}


/*
 * menu mobile
 * ------------------------------------------------------------------------- */

menu .menu-mobile {

    display: none;
}

menu .menu-mobile .menu-header {

    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

menu .menu-mobile .menu-header #menu-mobile__open-button {

    width: var(--menu-mobile__toggle-button-size);
    height: auto;

    cursor: pointer;
}

menu .menu-mobile .menu-mobile__buttons {

    opacity: 0;
    visibility: hidden;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: var(--menu-mobile__background-color);

    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;

    transition: opacity .15s;
}

menu .menu-mobile .menu-mobile__buttons .menu-buttons {

    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    text-align: var(--menu__align);
}

menu .menu-mobile .menu-mobile__buttons .menu-mobile__controls {

    display: grid;
    grid-template-columns: 1fr max-content;
}

menu .menu-mobile .menu-mobile__buttons .menu-mobile__controls #menu-mobile__close-button {

    width: var(--menu-mobile__toggle-button-size);
    height: auto;

    cursor: pointer;
}


/*
 * menu desktop & mobile
 * ------------------------------------------------------------------------- */

menu * .menu-header .menu-header-label {

    font-family: var(--menu-header-label__font-family);
    font-size: var(--menu-header-label__font-size);
    color: var(--menu-header-label__text-color);
}

menu * .menu-header .menu-header-image {

    max-width: var(--menu-header-image__width);
    height: var(--menu-header-image__height);
}

/*
 * menu button desktop
 * ------------------------------------------------------------------------- */

menu * .menu-buttons {

    display: grid;
    grid-row-gap: 4px;
}

menu * .menu-buttons a {

    transition: color .2s;
}

menu * .menu-buttons a:hover {

    color: var(--menu__text-color-hover);
}

menu * .menu-buttons a.menu-link-page {

    font-family: var(--menu__font-family);
    font-size: var(--menu__font-size);
    color: var(--menu-link-page__text-color);
}

menu * .menu-buttons a.menu-link-url {

    font-family: var(--menu__font-family);
    font-size: var(--menu__font-size);
    color: var(--menu-link-url__text-color);
}

menu * .menu-buttons a.menu-page-current,
menu * .menu-buttons a.menu-page-current:hover {

    color: var(--menu__text-color-current);
}

menu * .menu-buttons div.menu-section {

    font-family: var(--menu__font-family);
    font-size: var(--menu__font-size);
    color: var(--menu-section__text-color);
}

menu * .menu-buttons div.menu-spacer__small {

    height: var(--menu-spacer__height__small);
}

menu * .menu-buttons div.menu-spacer__medium {

    height: var(--menu-spacer__height__medium);
}

menu * .menu-buttons div.menu-spacer__large {

    height: var(--menu-spacer__height__large);
}


/*
 * menu button mobile
 * ------------------------------------------------------------------------- */

menu .menu-mobile * .menu-buttons {

    display: grid;
    grid-row-gap: 10px;
}

menu .menu-mobile * .menu-buttons a {

    transition: color .2s;
}

menu .menu-mobile * .menu-buttons a:hover {

    color: var(--menu__text-color-hover);
}

menu .menu-mobile * .menu-buttons a.menu-link-page {

    font-family: var(--menu__font-family);
    font-size: var(--menu-mobile__font-size);
    color: var(--menu-link-page__text-color);
}

menu .menu-mobile * .menu-buttons a.menu-link-url {

    font-family: var(--menu__font-family);
    font-size: var(--menu-mobile__font-size);
    color: var(--menu-link-url__text-color);
}

menu .menu-mobile * .menu-buttons a.menu-page-current,
menu .menu-mobile * .menu-buttons a.menu-page-current:hover {

    color: var(--menu__text-color-current);
}

menu .menu-mobile * .menu-buttons div.menu-section {

    font-family: var(--menu__font-family);
    font-size: var(--menu-mobile__font-size);
    color: var(--menu-section__text-color);
}

menu .menu-mobile * .menu-buttons div.menu-spacer__small {

    height: var(--menu-mobile-spacer__height__small);
}

menu .menu-mobile * .menu-buttons div.menu-spacer__medium {

    height: var(--menu-mobile-spacer__height__medium);
}

menu .menu-mobile * .menu-buttons div.menu-spacer__large {

    height: var(--menu-mobile-spacer__height__large);
}


/*
 * pages
 * ------------------------------------------------------------ */

main {

    display: block;

    padding-top: 100px;
    padding-left: 0;
    padding-right: 50px;
    padding-bottom: 200px;
}

main * .page-contents {

    display: grid;
    grid-template-columns: minmax(var(--page__min-width), var(--page__width));
    grid-row-gap: 25px;
}


/*
 * page
 * ------------------------------------------------------------------------- */

main #page {

    grid-area: "area-main";
    font-size: var(--page__font-size);
    color: var(--page__text-color);
}

main #page .page-contents {

    font-family: var(--page__font-family);

}

/* gallery */

main #page .page-contents .gallery {

    column-count: var(--gallery__column-count);
    column-width: var(--gallery__column-width);
    column-gap: 15px;
}

main #page .page-contents .gallery .content-item {

    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

/* content-item */

main #page .page-contents .content-item {

    /* This is the container that holds an images/videos/text etc. */
}

/* content-image */

main #page .page-contents .content-item .image {

    max-width: 100%;
    height: auto;
}

/* content-video */

main #page .page-contents .content-item .video {

    max-width: 100%;
    height: auto;
}


/* content-audio */

main #page .page-contents .content-item .audio {

    width: 100%;
}

/* content-embedded */

main #page .page-contents .content-item .embedded {

    /* height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%; */
}

main #page .page-contents .content-item .embedded iframe {

    /* See easel/main/static/assets/static/main.js */
}

/* content-text-block */

main #page .page-contents .content-item .text-block {

    font-family: var(--page-text__font-family);
    font-size: var(--page-text__font-size);
    color: var(--page-text__font-color);
}

/* content-header */

main #page .page-contents .content-item .header__small {

    font-family: var(--page-header__font-family);
    font-size: var(--page-header__font-size__small);
    color: var(--page-header__font-color);
}

main #page .page-contents .content-item .header__medium {

    font-family: var(--page-header__font-family);
    font-size: var(--page-header__font-size__medium);
    color: var(--page-header__font-color);
}

main #page .page-contents .content-item .header__large {

    font-family: var(--page-header__font-family);
    font-size: var(--page-header__font-size__large);
    color: var(--page-header__font-color);
}

/* content-break */

main #page .page-contents .content-item .break-small {

    height: var(--page-break__size__small);
}

main #page .page-contents .content-item .break-medium {

    height: var(--page-break__size__medium);
}

main #page .page-contents .content-item .break-large {

    height: var(--page-break__size__large);
}

/* content captions */

main #page .page-contents .content-item .content-caption {

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 0;
    padding-bottom: 0;

    font-family: var(--content-caption__font-family);
    font-size: var(--content-caption__font-size);
}

main #page .page-contents .content-item .content-caption .content-title p,
main #page .page-contents .content-item .content-caption .content-description p {

    /* Prevents extra <p> tags created by Markdown from creating line-breaks */
    display: inline;
}

main #page .page-contents .content-item .content-caption .content-title {

    color: var(--content-caption-title__color);
}

main #page .page-contents .content-item .content-caption .content-description {

    color: var(--content-caption-description__color);
}

/*
 * footer
 * ------------------------------------------------------------------------- */

footer {

    position: fixed;
    bottom: 50px;
    left: 50px;

    display: grid;
    grid-row-gap: 4px;

    font-size: 9pt;
    font-family: var(--footer__font-family);
    color: var(--footer__text-color);
}


/*
 * media queries
 * ------------------------------------------------------------------------- */

@media only screen and (max-width: 736px) {

    /* When the screen is too small the menu-desktop here is hidden and
     * the menu-mobile is set to block. The menu-mobile's
     * menu-mobile__buttons visibility is toggled with javascript.
     */

    body {

        display: grid;
        grid-template-areas: "area-main";
        grid-template-rows: 1fr;
        grid-template-columns: unset;
    }

    menu .menu-desktop {

        display: none;
    }

    menu .menu-mobile {

        display: block;
    }

    main {

        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 200px;
    }

    main * .page-contents {

        grid-row-gap: 20px;
    }

    footer {

        top: unset;
        left: unset;
        right: 30px;
        bottom: 30px;

        text-align: right;
    }
}