{% if site.config.copyright %}

    <div id="footer">
        <div id="footer__copyright">
            <div>{{ site.config.copyright }}</div>
            <div>All rights reserved.</div>
        </div>
    <div>

{% endif %}