{% from "_macros.jinja2" import render_caption with context %}


<div id="lightbox">

    <img id="lightbox__button-close" src="{{ url_for('main.static', filename='images/close.png') }}">
    <img id="lightbox__button-prev" src="{{ url_for('main.static', filename='images/prev.png') }}">
    <img id="lightbox__button-next" src="{{ url_for('main.static', filename='images/next.png') }}">

    {% for content in page.contents %}

        <div class="lightbox__container">

            <img class="lightbox-item__image"
                src="{{ url_for('site.static', filename=content.placeholder.path_relative_image) }}"
                data-src="{{ url_for('site.static', filename=content.path_relative) }}">

            {% if page.show_captions %}

                <div class="lightbox__caption">

                    {{ render_caption(page, content) }}

                </div>

            {% endif %}

        </div>

    {% endfor %}

</div>