{% from "_macros.jinja2" import render_menu_items with context %}


<div id="menu-mobile-buttons">
    <img id="menu-mobile-button-open" src="{{ url_for('main.static', filename='images/menu-mobile-button-open.png') }}">
    <img id="menu-mobile-button-close" src="{{ url_for('main.static', filename='images/menu-mobile-button-close.png') }}">
</div>

<div id="menu-mobile">
    <div class="menu-items">{{ render_menu_items() }}</div>
    <div id="menu-footer">{% include "_footer.jinja2" %}</div>
</div>