<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />
        <title>{{ site.config.title }}</title>
        {% if site.config.favicon %}<link rel="shortcut icon" href="{{ url_for('site.static', filename=site.config.favicon) }}">{% endif %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/base.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/header.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/menu.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/page.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/footer.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/mobile.css') }}"/>

        {% if page.is_gallery %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/lightbox.css') }}"/>
        {% endif %}

    </head>

    <body>

        <header>{% include "_header.jinja2" %}</header>

        <menu>
            {% include "_menu.jinja2" %}
            {% include "_mobile.jinja2" %}
        </menu>

        <main>{% block page %}{% endblock %}</main>

        <footer>{% include "_footer.jinja2" %}</footer>

        {% if page.is_gallery %}
            {% include "_lightbox.jinja2" %}
        {% endif %}

    </body>

    <script src="{{ url_for('main.static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/mobile.js') }}"></script>

    {% if page.is_gallery %}
        <script src="{{ url_for('main.static', filename='js/lightbox.js') }}"></script>
    {% endif %}

</html>