{% macro render_header() %}

    {% if site.config.header.image.path %}

        <a href="{{ url_for('main.index') }}">
            <img class="header-image" src="{{ url_for('site.static', filename=site.config.header.image.path) }}">
        </a>

    {% elif site.config.header.title is not none %}

        {% set title = site.config.header.title if site.config.header.title else site.config.title %}

        <a class="header-title" href="{{ url_for('main.index') }}">{{ title | safe }}</a>

    {% endif %}

{% endmacro %}


{% macro render_menu_buttons() %}

    {% for item in site.menu %}

        {% if item.is_link_page %}

            {% set current = "menu-page-current" if item.url == site.page_current.url else "" %}

            <a class="menu-link-page {{ current }}" href="{{ item.url }}">{{ item.label }}</a>

        {% elif item.is_link_url %}

            <a class="menu-link-url" href="{{ item.url }}" target="_blank">{{ item.label }}</a>

        {% elif item.is_spacer %}

            <span class="menu-spacer__{{ item.size }}">{{ item.label if item.label is not none }}</span>

        {% endif %}

    {% endfor %}

{% endmacro %}


{% macro render_content(page, content, index) %}

    <div class="content-item">

        {% if content.is_image %}

            {% set image = url_for("site.static", filename=content.path_relative) %}
            {% set placeholder_image = url_for("site.static", filename=content.placeholder.path_relative_image) %}

            <img
                class="image"
                src="{{ placeholder_image if content.has_placeholder_image else image }}"
                data-src="{{ image }}"
                data-placeholder-color="{{ content.placeholder.color }}">

        {% elif content.is_video %}

            <video controls >
                <source
                    class="video"
                    src="{{ url_for('site.static', filename=content.path_relative) }}"
                    type="{{ content.mimetype }}">
            </video>

        {% elif content.is_audio %}

            <audio controls preload="metadata" >
                <source
                    class="audio"
                    src="{{ url_for('site.static', filename=content.path_relative) }}"
                    type="{{ content.mimetype }}" >
                Your browser does not support the audio element.
            </audio>

        {% elif content.is_embedded %}

            <div class="embedded">{{ content.html | safe }}</div>

        {% elif content.is_text_block %}

            {% set align = content.align if content.align else "justify" %}

            <div class="text-block align__{{ align }} markdown">{{ content.body | safe }}</div>

        {% elif content.is_header %}

            {% set size = content.size if content.size else "medium" %}
            {% set align = content.align if content.align else "left" %}

            <div class="header__{{ size }} align__{{ align }}">{{ content.text }}</div>

        {% elif content.is_break %}

            {% set size = content.size if content.size else "medium" %}

            <div class="break__{{ size }}">&nbsp;</div>

        {% endif %}

        {% if page.show_captions %}

            {% if content.caption %}

                {% set align = content.caption_align if content.caption_align else "left" %}

                <div class="content-caption align__{{ align }}">

                    {% if content.caption_title %}

                        <span class="content-title markdown">{{ content.caption_title | safe }}</span>

                    {% endif %}

                    {% if content.caption_description %}

                        <span class="content-description markdown">{{ content.caption_description | safe }}</span>

                    {% endif %}

                </div>

            {% endif %}

        {% endif %}

    </div>

{% endmacro %}


{% macro render_css(name, value) %}

    {% if value is not none %}{{ name }}: {{ value }};{% endif %}

{% endmacro %}