{% from "macros.jinja2" import render_header, render_menu_buttons with context %}


<menu>

    <div class="menu-desktop">
        <span class="header">{{ render_header() }}</span>
        <span class="menu-buttons">{{ render_menu_buttons() }}</span>
    </div>


    <div class="menu-mobile">

        <div class="header">

            {{ render_header() }}

            {# This <div></div> just takes up space and pushes 'header-title'
            and 'menu-mobile__open-button' to their respective sides of the grid. #}
            <div></div>

            <img id="menu-mobile__open-button" src="{{ url_for('main.static', filename='images/menu-mobile-open.png') }}">

        </div>

        <div class="menu-mobile__buttons">

            <div class="menu-mobile__controls">

                {# This <div></div> just takes up space and pushes
                'menu-mobile__close-button' to the right. #}
                <div></div>

                <img id="menu-mobile__close-button" src="{{ url_for('main.static', filename='images/menu-mobile-close.png') }}">

            </div>

                <span class="menu-buttons">{{ render_menu_buttons() }}</span>

        </div>

    </div>

</menu>