{% from "_macros.jinja2" import render_content with context %}


{% extends "base.jinja2" %}


{% block page %}

    <div id="{{ 'page-gallery' if page.is_gallery else 'page'}}">

        <div class="page-contents">

            {% for content in page.contents %}

                <div class="content-item">

                    {{ render_content(page, content) }}

                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}