{% from "_macros.jinja2" import render_content with context %}


{% extends "base.jinja2" %}


{% block page %}

    <div id="{{ 'page-gallery' if page.is_gallery else 'page'}}">

        <div id="page-contents">

            {% for content in page.contents %}

                {{ render_content(page, content) }}

            {% endfor %}

        </div>

    </div>

{% endblock %}