:root {
    /*
     * Menu Item
     * --------------------------------------------------------------------- */

    --menu-item--font-family: var(--font-family--primary);
    --menu-item--font-weight: 400;
    --menu-item--font-size: 11pt;
    --menu-item--color: hsla(0, 0%, 0%, 0.75);

    --menu-item__spacer--small-width: 0;
    --menu-item__spacer--small-height: 0;
    --menu-item__spacer--medium-width: 15px;
    --menu-item__spacer--medium-height: 0;
    --menu-item__spacer--large-width: 30px;
    --menu-item__spacer--large-height: 0;
}

/* Structure of #menu-base

    #menu-base
        .menu-base__menu-items
            .menu-item .menu-item--link-page
            .menu-item .menu-item--link-url
            .menu-item .menu-item--spacer size--small
            .menu-item .menu-item--spacer size--medium
            .menu-item .menu-item--spacer size--large
---------------------------------------------------------------------------- */

#menu-base {
    /*  */
}

.menu-base {
    &__menu-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;

        // NOTE: The flexbox 'gap' property isn't yet supported in Safari.
        & .menu-item:not(:last-child) {
            padding-top: 0;
            padding-left: 0;
            padding-right: 20px;
            padding-bottom: 0;
        }
    }
}

.menu-item {
    font-family: var(--menu-item--font-family);
    font-weight: var(--menu-item--font-weight);
    font-size: var(--menu-item--font-size);
    color: var(--menu-item--color);

    &--link-page.menu-item--current {
        // TODO:HIGH Style .menu-item--current.
        text-decoration: underline;
    }

    &--spacer {
        &.size--small {
            width: var(--menu-item__spacer--small-width);
            height: var(--menu-item__spacer--small-height);
        }

        &.size--medium {
            width: var(--menu-item__spacer--medium-width);
            height: var(--menu-item__spacer--medium-height);
        }

        &.size--large {
            width: var(--menu-item__spacer--large-width);
            height: var(--menu-item__spacer--large-height);
        }
    }
}
/*
 * Media Queries
 * ------------------------------------------------------------------------- */

@media only screen and (max-width: 736px) {
    #menu-base {
        display: none;
    }
}
