:root {
    --page__description--font-family: var(--font-family--primary);
    --page__description--font-weight: 400;
    --page__description--font-size: 13pt;
    --page__description--color: hsla(0, 0%, 0%, 0.75);

    /*
     * Page Gallery
     * --------------------------------------------------------------------- */

    /* NOTE: When both 'column-width' and 'column-count' properties are
     declared, 'column-count' is the maximum number of columns and
     'column-width' is the minimum width for those columns. */

    --gallery--column-width: 250px;
    --gallery--column-count: auto;
    --gallery--column-gap: 10px;
}

/* Structure of #page

    #page
        .page__contents--base / .page__contents--gallery
---------------------------------------------------------------------------- */

#page {
    /*  */
}

.page {
    &__description {
        width: 75%;

        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 35px;
    }

    &__description.markdown p {
        font-family: var(--page__description--font-family);
        font-weight: var(--page__description--font-weight);
        font-size: var(--page__description--font-size);
        color: var(--page__description--color);

        line-height: 1.5;
    }

    &__contents--base {
        // TODO:HIGH Implement page-width with grid columns. This will mainly
        // be used to prevent the text content on the page from spanning 100%.

        display: grid;
        grid-template-columns: minmax(0, 1fr);
        row-gap: 25px;
    }

    &__contents--gallery {
        column-width: var(--gallery--column-width);
        column-count: var(--gallery--column-count);
        column-gap: var(--gallery--column-gap);
    }
}

/*
 * Media Queries
 * ------------------------------------------------------------------------- */

@media only screen and (max-width: 736px) {
    :root {
        /*
         * Page Gallery
         * ----------------------------------------------------------------- */
        --gallery--column-width: auto;
        --gallery--column-count: 2;
        --gallery--column-gap: 5px;
    }

    .page__description {
        width: 100%;
    }
}
