<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />
    <title>{{ site.config.title }}</title>
    {% if site.config.favicon %}<link rel="shortcut icon" href="{{ url_for('site.static', filename=site.config.favicon) }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/main.css') }}" />
    <style type="text/css">{% include "style.jinja2" %}</style>

</head>

<body>

    {% include "menu.jinja2" %}

    <main>{% block page %}{% endblock %}</main>

</body>

<footer>

    {% if site.config.copyright %}

        <div>{{ site.config.copyright }}</div>
        <div>All rights reserved</div>

    {% endif %}

</footer>

<script src="{{ url_for('main.static', filename='js/main.js') }}"></script>

</html>