{% macro render_menu_header() %}

    {% if site.theme('menu.header.image.path') %}

        <a href="{{ url_for('main.page_landing') }}">
            <img class="menu-header-image" src="{{ url_for('site.static', filename=site.theme('menu.header.image.path')) }}">
        </a>

    {% elif site.theme('menu.header.label') %}

        <a class="menu-header-label" href="{{ url_for('main.page_landing') }}">{{ site.theme('menu.header.label') | safe }}</a>

    {% endif %}

{% endmacro %}


{% macro render_menu() %}

    <div class="menu-buttons">

        {% for item in site.menu %}

            {# <div></div> is added per button here to prevent the grid display
            from causing each button to span the whole menu width. #}
            <div>

                {% if item.is_link_page %}

                    {% set current = "menu-page-current" if item.href == site.page_current.url else "" %}

                    <a class="menu-link-page {{ current }}" href="{{ item.href }}">{{ item.label }}</a>

                {% elif item.is_link_url %}

                    <a class="menu-link-url" href="{{ item.href }}" target="_blank">{{ item.label }}</a>

                {% elif item.is_section %}

                    <div class="menu-section">{{ item.label }}</div>

                {% elif item.is_spacer %}

                    <div class="menu-spacer__{{ item.size }}"></div>

                {% endif %}

            </div>

        {% endfor %}

    </div>

{% endmacro %}


{% macro render_content(page, content, index) %}

    <div class="content-item">

        {% if content.is_image %}

            <img class="image" src="{{ url_for('site.static', filename=content.path_relative) }}" data-index="{{ index }}">

        {% elif content.is_video %}

            <video class="video" controls data-index="{{ index }}">
                <source src="{{ url_for('site.static', filename=content.path_relative) }}" type="{{ content.mimetype }}">
            </video>

        {% elif content.is_audio %}

            <audio controls preload="metadata" class="audio" data-index="{{ index }}">
                <source src="{{ url_for('site.static', filename=content.path_relative) }}" type="{{ content.mimetype }}" >
                Your browser does not support the audio element.
            </audio>

        {% elif content.is_embedded %}

            <div class="embedded" data-index="{{ index }}">{{ content.html | safe }}</div>

        {% elif content.is_text_block %}

            {% set align = content.align if content.align else "justify" %}

            <div class="text-block align__{{ align }}" data-index="{{ index }}">
                <div class="markdown">{{ content.body | safe }}</div>
            </div>

        {% elif content.is_header %}

            {% set size = content.size if content.size else "medium" %}
            {% set align = content.align if content.align else "left" %}

            <div class="header__{{ size }} align__{{ align }}">{{ content.text }}</div>

        {% elif content.is_break %}

            {% set size = content.size if content.size else "medium" %}
            {% set align = content.align if content.align else "left" %}

            <div class="header__{{ size }} align__{{ align }}">&nbsp;</div>

        {% endif %}

        {% if page.show_captions %}

            {% if content.caption %}

                {% set align = content.caption_align if content.caption_align else "left" %}

                <div class="content-caption align__{{ align }}">

                    {% if content.caption_title %}
                        <span class="content-title markdown">{{ content.caption_title | safe }}</span>
                    {% endif %}

                    {% if content.caption_description %}
                        <span class="content-description markdown">{{ content.caption_description | safe }}</span>
                    {% endif %}

                </div>

            {% endif %}

        {% endif %}

    </div>

{% endmacro %}


{% macro render_css(name, value) %}

    {% if value %}{{ name }}: {{ value }};{% endif %}

{% endmacro %}