{% from "macros.jinja2" import render_menu_header, render_menu with context %}


<menu>

    <div class="menu-desktop">

        <div class="menu-header">{{ render_menu_header() }}</div>

        {{ render_menu() }}

    </div>


    <div class="menu-mobile">

        <div class="menu-header">

            {{ render_menu_header() }}

            {# This <div></div> just takes up space and pushes 'menu-header-label'
            and 'menu-mobile__open-button' to their respective sides of the grid. #}
            <div></div>

            <img id="menu-mobile__open-button" src="{{ url_for('main.static', filename='images/menu-mobile-open.png') }}">

        </div>

        <div class="menu-mobile__buttons">

            <div class="menu-mobile__controls">

                {# This <div></div> just takes up space and pushes
                'menu-mobile__close-button' to the right. #}
                <div></div>

                <img id="menu-mobile__close-button" src="{{ url_for('main.static', filename='images/menu-mobile-close.png') }}">

            </div>

            {{ render_menu() }}

        </div>

    </div>

</menu>