:root {
    /*
     * NOTE: Naming scheme for variables is similar to BEM:
     *
     *      --[PARENT]__[CHILD]--[ATTRIBUTE]
     *
     * --------------------------------------------------------------------- */

    /*
     * Base
     * --------------------------------------------------------------------- */

    --body--background-color: hsla(0, 0%, 100%, 1);

    --body--padding-top: 50px;
    --body--padding-left: 50px;
    --body--padding-right: 50px;
    --body--padding-bottom: 50px;

    --link--color: hsla(0, 0%, 0%, 0.75);

    --header-and-menu--height: 50px;
    --main--height: auto;
    --footer--height: 200px;

    --header-menu--offset: calc(
        var(--header-and-menu--height) + var(--body--padding-top)
    );
}

a {
    color: var(--link--color);
    text-decoration: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* NOTE: Both this property and 'body.min-height: 100%;' help to keep the
    'footer' stuck to the bottom of this page. Using 'body.height' instead
    causes the 'footer' to lose its bottom padding on mobile. */
    height: 100%;
}

body {
    min-height: 100%;

    padding-top: var(--body--padding-top);
    padding-left: var(--body--padding-left);
    padding-right: var(--body--padding-right);
    padding-bottom: var(--body--padding-bottom);

    background-color: var(--body--background-color);

    display: grid;
    grid-template-areas:
        "header   menu"
        "main     main"
        "footer footer";
    grid-template-rows:
        var(--header-and-menu--height)
        var(--main--height)
        var(--footer--height);
    grid-template-columns: 1fr;
}

header {
    grid-area: header;
    align-self: flex-start;
}

menu {
    grid-area: menu;
    align-self: flex-start;
    justify-self: end;
}

main {
    grid-area: main;

    padding-top: 30px;
}

footer {
    grid-area: footer;
    align-self: flex-end;
    justify-self: flex-end;
}

/*
 * Media Queries
 * ------------------------------------------------------------------------- */

@media only screen and (max-width: 736px) {
    :root {
        /*
         * Base
         * ----------------------------------------------------------------- */

        --body--padding-top: 30px;
        --body--padding-left: 30px;
        --body--padding-right: 30px;
        --body--padding-bottom: 30px;
    }
}
