:root {
    /*
     * base
     * --------------------------------------------------------------------- */

    --lightbox__background-color: var(--body__background-color);

    --lightbox__buttons__size: 32px;
    --lightbox__buttons__opacity: 0.25;

    --vh: calc(
        100vh - calc(var(--body__padding-top) + var(--body__padding-bottom))
    );
}

/*
 *

 #lightbox
    #lightbox__contents
        .lightbox__container
            .lightbox__image
            .lightbox__caption
                .caption
                    .caption__title
                    .caption__description
 */

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: var(--lightbox__background-color);

    padding-top: var(--body__padding-top);
    padding-left: var(--body__padding-left);
    padding-right: var(--body__padding-right);
    padding-bottom: var(--body__padding-bottom);

    display: grid;
    grid-template-areas:
        ".    .       close"
        "prev contents next";
    grid-template-rows: min-content var(--vh);
    grid-template-columns: min-content auto min-content;

    /* See below: animation__fade-in-out */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s var(--transition__ease-out);
}

#lightbox.animation__fade-in-out {
    opacity: 1;
    pointer-events: auto;
}

#lightbox__button-close,
#lightbox__button-prev,
#lightbox__button-next {
    cursor: pointer;

    width: var(--lightbox__buttons__size);
    height: auto;

    opacity: var(--lightbox__buttons__opacity);
}

#lightbox__button-close {
    grid-area: close;

    justify-self: flex-end;
    align-self: flex-start;
}

#lightbox__button-prev {
    grid-area: prev;

    align-self: center;
    justify-self: flex-start;
}

#lightbox__button-next {
    grid-area: next;

    align-self: center;
    justify-self: flex-end;
}

#lightbox__contents {
    grid-area: contents;

    width: 100%;
    height: 100%;
}

.lightbox__container {
    width: inherit;
    height: inherit;

    padding-top: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;

    /*  */
    display: none;
}

.lightbox__image {
    width: inherit;
    height: inherit;

    object-fit: contain;
}

.lightbox__caption {
    /* TODO: Style this. */
}

@media only screen and (max-width: 736px) {
    #lightbox {
        grid-template-areas:
            ".           close"
            "contents contents";
        grid-template-rows: min-content var(--vh);
        grid-template-columns: auto auto;
    }

    #lightbox__button-prev,
    #lightbox__button-next {
        display: none;
    }

    .lightbox__container {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}
