@import "_reset.css";
@import "_normalize.css";
@import "_markdown.css";

@import "fonts/cormorant-garamond.css";
@import "fonts/montserrat.css";


:root {

    /*
     * base
     * --------------------------------------------------------------------- */

    --body__background-color: hsla(0, 0%, 100%, 1.0);

    --body__padding-top: 50px;
    --body__padding-left: 50px;
    --body__padding-right: 50px;
    --body__padding-bottom: 50px;

    --a__color: hsla(0, 0%, 0%, 0.75);

    --primary__font-family: "Montserrat", sans-serif;

    --header-and-menu__height: 50px;
    --main__height: auto;
    --footer__height: 200px;

    --header-and-menu__padding: 10px;

    /*
     * header
     * --------------------------------------------------------------------- */

    --header-image__height: 40px;

    --header-title__font-family: var(--primary__font-family);
    --header-title__font-weight: 400;
    --header-title__font-size: 24pt;
    --header-title__color: hsla(0, 0%, 0%, 0.75);

    /*
     * menu
     * --------------------------------------------------------------------- */

    --menu-buttons__font-family: var(--primary__font-family);
    --menu-buttons__font-size: 10.5pt;
    --menu-buttons__font-weight: 400;
    --menu-buttons__color: hsla(0, 0%, 0%, 0.75);

    /*
     * page
     * --------------------------------------------------------------------- */

    --page-gallery__column-width: 250px;
    --page-gallery__column-count: auto;
    --page-gallery__gap: 10px;

    /*
     * footer
     * --------------------------------------------------------------------- */

    --footer__font-family: var(--primary__font-family);
    --footer__font-weight: 400;
    --footer__font-size: 11pt;
    --footer__color: hsla(0, 0%, 0%, 0.6);

    /*
     * animation
     * --------------------------------------------------------------------- */

    --custom-ease-out: cubic-bezier(0.2, 0.5, 0.3, 1.0);

}


/*
*:not(path):not(g) {
    background: hsla(0, 0%, 0%, 0.5) !important;
    outline: solid 1px hsla(0, 100%, 50%, 0.5) !important;
    color: hsla(0, 0%, 100%, 0.9) !important;
} */



* {

    box-sizing: border-box;
}


a {

    color: var(--a__color);
    text-decoration: none;
}


html {

    /* prevent font scaling in landscape */
    -webkit-text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
 * body
 * ------------------------------------------------------------------------- */

body {

    height: 100vh;

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    background-color: var(--body__background-color);

    display: grid;
    grid-template-areas:
        "header   menu"
        "main     main"
        "footer footer";
    grid-template-rows: var(--header-and-menu__height) var(--main__height) var(--footer__height);
}


/*
* header
* -------------------------------------------------------------------------- */

header {

    grid-area: header;
    align-self: flex-start;

    padding: var(--header-and-menu__padding);
}

header .header-image {

    height: var(--header-image__height);
    width: auto;
}

header .header-title {

    font-family: var(--header-title__font-family);
    font-weight: var(--header-title__font-weight);
    font-size: var(--header-title__font-size);
    color: var(--header-title__color);
}


/*
* menu
* -------------------------------------------------------------------------- */

menu {

    grid-area: menu;
    align-self: flex-start;
    justify-self: end;

    padding: var(--header-and-menu__padding);
}

menu #menu-desktop {

    /*  */
}

menu #menu-desktop .menu-buttons {

    display: grid;
    grid-auto-flow: column;
    gap: 20px;

    font-family: var(--menu-buttons__font-family);
    font-weight: var(--menu-buttons__font-weight);
    font-size: var(--menu-buttons__font-size);
    color: var(--menu-buttons__color);
}

menu * .menu-page-current {

    text-decoration: underline;
}

/*
 * main
 * ------------------------------------------------------------------------- */

main {

    grid-area: main;

    padding-top: 40px;
}

main #page-gallery .page-contents {

    column-width: var(--page-gallery__column-width);
    column-count: var(--page-gallery__column-count);
    column-gap: var(--page-gallery__gap);
}

main #page-gallery .page-contents .content-item {

    margin-bottom: var(--page-gallery__gap);
}

main [id^=page] .page-contents .content-item .image {

    display: block;

    width: 100%;
    height: auto;

    /* See below: animate__fade-in */
    opacity: 0;
    transition: opacity .5s;
}

main [id^=page] .page-contents .content-item .image.animate__fade-in {

    opacity: 1;
}


/*
 * footer
 * ------------------------------------------------------------------------- */

footer {

    grid-area: footer;
    align-self: flex-end;
    justify-self: flex-end;

    font-family: var(--footer__font-family);
    font-weight: var(--footer__font-weight);
    font-size: var(--footer__font-size);
    color: var(--footer__color);
}

footer .footer-copyright {

    display: grid;
    row-gap: 5px;
}