:root {
    /*
     * buttons
     * --------------------------------------------------------------------- */

    --menu-mobile-buttons--size: 32px;
    --menu-mobile-buttons--opacity: 0.75;

    /*
     * footer
     * --------------------------------------------------------------------- */

    --menu-mobile__footer--font-family: var(--font-family--primary);
    --menu-mobile__footer--font-weight: 400;
    --menu-mobile__footer--font-size: 12pt;
    --menu-mobile__footer--color: hsla(0, 0%, 0%, 0.5);
}

/*
 * Structure of #menu-mobile-buttons

    #menu-mobile-buttons
        #menu-mobile-buttons__open
        #menu-mobile-buttons__close
 * ------------------------------------------------------------------------- */

#menu-mobile-buttons {
    display: none;
}

#menu-mobile-buttons__open,
#menu-mobile-buttons__close {
    width: var(--menu-mobile-buttons--size);
    height: auto;

    opacity: var(--menu-mobile-buttons--opacity);

    cursor: pointer;
}

#menu-mobile-buttons__close {
    display: none;
}

/** Structure of #menu-mobile

    #menu-mobile
        #menu-mobile__menu-items
            .menu-item__link-page
            .menu-item__link-url
                .menu-item__spacer
                .menu-item__spacer--small
                .menu-item__spacer--medium
                .menu-item__spacer--large
        #menu-mobile__footer
---------------------------------------------------------------------------- */

#menu-mobile {
    position: fixed;
    left: 0;
    top: var(--header-and-menu--offset);
    width: 100%;
    height: 100vh;
    z-index: 999;

    background-color: var(--body--background-color);

    display: grid;
    grid-template-areas:
        "buttons"
        "footer";
    grid-template-rows: min-content auto;

    /* See below: #menu-mobile.animation__fade-in-out */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s var(--transition--ease-out);
}

#menu-mobile.animation__fade-in-out {
    opacity: 1;
    pointer-events: auto;
}

#menu-mobile__menu-items {
    grid-area: buttons;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    /* See below: #menu-mobile__menu-items.animation__fade-in-out */
    transition: transform 0.5s var(--transition--ease-out);
    transform: translateY(15px);
}

#menu-mobile__menu-items.animation__fade-in-out {
    transform: translateY(0);
}

#menu-mobile__footer {
    grid-area: footer;
    align-self: flex-end;

    padding-bottom: calc(
        var(--header-and-menu--offset) + var(--body--padding-bottom)
    );

    font-family: var(--menu-mobile__footer--font-family);
    font-weight: var(--menu-mobile__footer--font-weight);
    font-size: var(--menu-mobile__footer--font-size);
    color: var(--menu-mobile__footer--color);

    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;

    /* See below: #menu-mobile__footer.animation__fade-in-out */
    transition: transform 1s var(--transition--ease-out);
    transform: translateY(15px);
}

#menu-mobile__footer.animation__fade-in-out {
    transform: translateY(0);
}

/*
 * media queries
 * ------------------------------------------------------------------------- */

@media only screen and (max-width: 736px) {
    :root {
        /*
         * menu items
         * ----------------------------------------------------------------- */

        --menu-items--font-size: 20pt;

        --menu-item__spacer--small-width: 0;
        --menu-item__spacer--small-height: 0;
        --menu-item__spacer--medium-width: 0;
        --menu-item__spacer--medium-height: 15px;
        --menu-item__spacer--large-width: 0;
        --menu-item__spacer--large-height: 30px;
    }

    #menu-mobile-buttons {
        display: block;
    }
}
