:root {
    /*
     * base
     * --------------------------------------------------------------------- */

    --mobile__buttons__size: 32px;
    --mobile__buttons__opacity: 0.75;

    /*
     * header
     * --------------------------------------------------------------------- */

    --mobile__header-title__font-size: 20pt;

    /*
     * menu items
     * --------------------------------------------------------------------- */

    --mobile__menu-items__font-family: var(--primary__font-family);
    --mobile__menu-items__font-weight: 400;
    --mobile__menu-items__font-size: 20pt;
    --mobile__menu-items__color: hsla(0, 0%, 0%, 0.75);

    --mobile__menu-spacer__height__small: 3px;
    --mobile__menu-spacer__height__medium: 15px;
    --mobile__menu-spacer__height__large: 50px;

    --mobile__menu__footer__font-family: var(--primary__font-family);
    --mobile__menu__footer__font-weight: 400;
    --mobile__menu__footer__font-size: 12pt;
    --mobile__menu__footer__color: hsla(0, 0%, 0%, 0.25);

    /*
     * page & page-gallery
     * --------------------------------------------------------------------- */

    --mobile__page-gallery__column-count: 2;
}

/*
 * mobile menu buttons
 * ------------------------------------------------------------------------- */

menu #menu-mobile-buttons {
    display: none;
}

menu #menu-mobile-button-open,
menu #menu-mobile-button-close {
    width: var(--mobile__buttons__size);
    height: auto;

    opacity: var(--mobile__buttons__opacity);

    cursor: pointer;
}

menu #menu-mobile-button-close {
    display: none;
}

/*
 * mobile menu
 * ------------------------------------------------------------------------- */

menu #menu-mobile {
    position: fixed;
    left: 0;
    top: var(--header-and-menu__offset);
    width: 100%;
    height: 100vh;
    z-index: 999;

    background-color: var(--body__background-color);

    display: grid;
    grid-template-areas:
        "buttons"
        "footer";
    grid-template-rows: min-content auto;

    /* See below: animate__fade-in-out */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s var(--custom-ease-out);
}

menu #menu-mobile.animate__fade-in-out {
    opacity: 1;
    pointer-events: auto;
}

menu #menu-mobile .menu-items {
    grid-area: buttons;

    display: grid;
    row-gap: 20px;

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    font-family: var(--mobile__menu-items__font-family);
    font-weight: var(--mobile__menu-items__font-weight);
    font-size: var(--mobile__menu-items__font-size);
    color: var(--mobile__menu-items__color);

    text-align: center;

    /* See below: animate__fade-in-out */
    transition: transform 0.5s var(--custom-ease-out);
    transform: translateY(15px);
}

menu #menu-mobile .menu-items.animate__fade-in-out {
    transform: translateY(0);
}

menu #menu-mobile .menu-items .menu-spacer__small {
    height: var(--mobile__menu-spacer__height__small);
}

menu #menu-mobile .menu-items .menu-spacer__medium {
    height: var(--mobile__menu-spacer__height__medium);
}

menu #menu-mobile .menu-items .menu-spacer__large {
    height: var(--mobile__menu-spacer__height__large);
}

menu #menu-mobile #menu-footer {
    grid-area: footer;
    align-self: flex-end;

    padding-bottom: calc(
        var(--header-and-menu__offset) + var(--body__padding-bottom)
    );

    font-family: var(--mobile__menu__footer__font-family);
    font-weight: var(--mobile__menu__footer__font-weight);
    font-size: var(--mobile__menu__footer__font-size);
    color: var(--mobile__menu__footer__color);

    text-align: center;

    /* See below: animate__fade-in-out */
    transition: transform 1s var(--custom-ease-out);
    transform: translateY(15px);
}

menu #menu-mobile #menu-footer.animate__fade-in-out {
    transform: translateY(0);
}

menu #menu-mobile #menu-footer .footer-copyright {
    display: grid;
    row-gap: 5px;
}

/*
 * media queries
 * ------------------------------------------------------------------------- */

@media only screen and (max-width: 736px) {
    :root {
        --body__padding-top: 30px;
        --body__padding-left: 30px;
        --body__padding-right: 30px;
        --body__padding-bottom: 30px;
    }

    header .header-title {
        font-size: var(--mobile__header-title__font-size);
    }

    menu #menu-desktop {
        display: none;
    }

    menu #menu-mobile-buttons {
        display: block;
    }
}
