@import url("reset.css");
@import url("fonts.css");
@import url("markdown.css");
@import url("fonts/cormorant-garamond.css");
@import url("fonts/montserrat.css");


:root {

    /*
     * base
     * --------------------------------------------------------------------- */

    --body__background-color: hsla(0, 0%, 100%, 1.00);

    --color-accent__base: hsla(25, 90%, 60%, 1.00);
    --color-accent__light: hsla(25, 100%, 85%, 1.00);

    --font-family__sans-serif: "Montserrat", sans-serif;
    /* --font-family__sans-serif: "Roboto Condensed", sans-serif; */
    --font-family__monospace: "Fira Code", monospace;

    /*
     * pages
     * --------------------------------------------------------------------- */

    /* gallery */
    --page-gallery__column-count: auto;
    --page-gallery__column-width: 250px;
    --page-gallery__gap: 5px;

    --page__font-family: var(--font-family__sans-serif);
    --page__font-size: 10pt;
    --page__text-color: hsla(0, 0%, 30%, 1.00);

    /*
     * contents
     * --------------------------------------------------------------------- */

    --content-text-block__font-family: var(--page__font-family);
    --content-text-block__font-size: var(--page__font-size);
    --content-text-block__font-color: var(--page__text-color);

    --content-header__font-family: var(--page__font-family);
    --content-header__font-size__small: 14pt;
    --content-header__font-size__medium: 18pt;
    --content-header__font-size__large: 24pt;
    --content-header__font-color: var(--page__text-color);

    --content-break__size__small: 10px;
    --content-break__size__medium: 25px;
    --content-break__size__large: 50px;

    --content-caption__font-family: var(--font-family__sans-serif);
    --content-caption__font-size: var(--page__font-size);
    --content-caption-title__color: hsla(0, 0%, 60%, 1.00);
    --content-caption-description__color: hsla(0, 0%, 70%, 1.00);

    /*
     * markdown
     * --------------------------------------------------------------------- */

    --markdown__font-family: var(--page__font-family);

    --markdown-link__text-color: var(--color-accent__base);
    --markdown-link__text-color__hover: hsla(0, 0%, 55%, 1.00);

    --markdown-strike-through__text-color: hsla(0, 0%, 60%, 1.00);

    --markdown-highlight__text-color: var(--page__text-color);
    --markdown-highlight__background-color: var(--color-accent__light);

    --markdown-hr__color: hsl(0, 0%, 90%, 1.00);

    --markdown-code__font-family: var(--font-family__monospace);
    --markdown-code__font-size: 10pt;
    --markdown-code__text-color: var(--page__text-color);
    --markdown-code__background-color: hsla(0, 0%, 94%, 1.00);

    /*
     * menu
     * --------------------------------------------------------------------- */

    --menu__font-family: var(--font-family__sans-serif);
    --menu__font-size: 10pt;
    --menu__text-color__hover: hsla(0, 0%, 50%, 1.00);
    --menu__text-color__current-page: var(--color-accent__base);


    /* menu header */
    --header-title__font-family: var(--font-family__sans-serif);
    --header-title__font-size: 26pt;
    --header-title__text-color: hsla(0, 0%, 20%, 1.00);

    --header-image__width: var(--menu__width);
    --header-image__height: auto;


    /* menu items */
    --menu-link-page__text-color: hsla(0, 0%, 30%, 1.00);
    --menu-link-url__text-color: hsla(0, 0%, 60%, 1.00);

    --menu-spacer__text-color: hsla(0, 0%, 80%, 1.00);
    --menu-spacer__small: 0px;
    --menu-spacer__medium: 10px;
    --menu-spacer__large: 30px;

    /*
    * footer
    * ---------------------------------------------------------------------- */

    --footer__font-family: var(--font-family__sans-serif);
    --footer__text-color: hsla(0, 0%, 0%, 0.10);
}


* {

    box-sizing: border-box;
}


html {

    /* prevent font scaling in landscape */
    -webkit-text-size-adjust: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
 * body
 * ------------------------------------------------------------------------- */

body {

    background-color: var(--body__background-color);

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    display: grid;
    grid-template-areas:
        "area-header" "area-menu"
        "area-main" "area-main"
        "area-footer" "area-footer";
    grid-template-rows: max-content min-content 200px;
}

/*
 * pages
 * ------------------------------------------------------------------------- */

main {

    grid-area: area-main;
}


/*
 * page
 * ------------------------------------------------------------------------- */

main #page {


    font-family: var(--page__font-family);
    font-size: var(--page__font-size);
    color: var(--page__text-color);

    display: grid;
    grid-template-columns: minmax(var(--page__min-width), 1fr);
    row-gap: 25px;
}

/* gallery */

main #page .gallery.contents {

    column-width: var(--page-gallery__column-width);
    column-count: var(--page-gallery__column-count);
    column-gap: var(--page-gallery__gap);
}

main #page .gallery.contents .content-item {

    margin-bottom: var(--page-gallery__gap);
}

/* content-items */

main #page * .content-item *.align__left {

    text-align: left;
}

main #page * .content-item *.align__center {

    text-align: center;
}

main #page * .content-item *.align__right {

    text-align: right;
}

main #page * .content-item *.align__justify {

    text-align: justify;
}

/* content-image */

main #page * .content-item .image {

    display: block;

    width: 100%;
    height: auto;

    /* See below: animate__fade-in */
    opacity: 0;
    transition: opacity .5s;
}

main #page * .content-item .image.animate__fade-in {

    opacity: 1;
}

/* content-video */

main #page * .content-item .video {

    display: block;

    max-width: 100%;
    height: auto;
}

/* content-audio */

main #page * .content-item .audio {

    width: 100%;
}

/* content-embedded */

main #page * .content-item .embedded {

    /* See easel/main/static/assets/static/main.js */
}

main #page * .content-item .embedded iframe {

    /* See easel/main/static/assets/static/main.js */
}

/* content-text-block */

main #page * .content-item .text-block {

    font-family: var(--content-text-block__font-family);
    font-size: var(--content-text-block__font-size);
    color: var(--content-text-block__font-color);
}

/* content-header */

main #page * .content-item .header__small,
main #page * .content-item .header__medium,
main #page * .content-item .header__large {

    font-family: var(--content-header__font-family);
    color: var(--content-header__font-color);
}

main #page * .content-item .header__small {

    font-size: var(--content-header__font-size__small);
}

main #page * .content-item .header__medium {

    font-size: var(--content-header__font-size__medium);
}

main #page * .content-item .header__large {

    font-size: var(--content-header__font-size__large);
}

/* content-break */

main #page * .content-item .break__small {

    height: var(--content-break__size__small);
}

main #page * .content-item .break__medium {

    height: var(--content-break__size__medium);
}

main #page * .content-item .break__large {

    height: var(--content-break__size__large);
}

/* content captions */

main #page * .content-item .content-caption {

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;

    font-family: var(--content-caption__font-family);
    font-size: var(--content-caption__font-size);
}

main #page * .content-item .content-caption .content-title p,
main #page * .content-item .content-caption .content-description p {

    /* Prevents extra <p> tags created by Markdown from creating line-breaks */
    display: inline;
}

main #page * .content-item .content-caption .content-title {

    color: var(--content-caption-title__color);
}

main #page * .content-item .content-caption .content-description {

    color: var(--content-caption-description__color);
}

/*
* header
* -------------------------------------------------------------------------- */

header {

    grid-area: area-header;

    /* padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0; */
}

/*
* menu
* -------------------------------------------------------------------------- */

menu {

    /* padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0; */
}


/*
* menu desktop
* ------------------------------------------------------------------------- */

menu .menu-desktop {

    grid-area: area-menu;

    display: grid;
    grid-template-columns: max-content 1fr;
}

menu .menu-desktop .header {

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

menu .menu-desktop .menu-buttons {

    align-self: center;
    justify-self: end;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}


/*
 * menu desktop & mobile
 * ------------------------------------------------------------------------- */

menu * .header .header-title {

    font-family: var(--header-title__font-family);
    font-size: var(--header-title__font-size);
    color: var(--header-title__text-color);
}

menu * .header .header-image {

    max-width: var(--header-image__width);
    height: var(--header-image__height);
}

/*
 * menu button desktop
 * ------------------------------------------------------------------------- */

menu * .menu-buttons {

    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

menu * .menu-buttons a {

    transition: color .2s;
}

menu * .menu-buttons a:hover {

    color: var(--menu__text-color__hover);
}

menu * .menu-buttons .menu-link-page {

    font-family: var(--menu__font-family);
    font-size: var(--menu__font-size);
    color: var(--menu-link-page__text-color);
}

menu * .menu-buttons .menu-link-url {

    font-family: var(--menu__font-family);
    font-size: var(--menu__font-size);
    color: var(--menu-link-url__text-color);
}

menu * .menu-buttons .menu-page-current,
menu * .menu-buttons .menu-page-current:hover {

    color: var(--color-accent__base);
}

menu * .menu-buttons [class^="menu-spacer__"] {

    display: inline-block;
    text-align: center;

    font-family: var(--menu__font-family);
    font-size: var(--menu__font-size);
    color: var(--menu-spacer__text-color)
}

menu * .menu-buttons .menu-spacer__medium {

    width: var(--menu-spacer__small);
}

menu * .menu-buttons .menu-spacer__medium {

    width: var(--menu-spacer__medium);
}

menu * .menu-buttons .menu-spacer__large {

    width: var(--menu-spacer__large);
}


/*
 * footer
 * ------------------------------------------------------------------------- */

footer {

    text-align: right;

    /* padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px; */

    display: grid;
    grid-row-gap: 4px;

    font-size: 9pt;
    font-family: var(--footer__font-family);
    color: var(--footer__text-color);
}
