{% from "_macros.html" import render_caption with context %}


<div id="lightbox">

    <img class="lightbox__button lightbox__button--close" src="{{ 'images/close.png' | theme_url }}">
    <img class="lightbox__button lightbox__button--prev" src="{{ 'images/prev.png' | theme_url }}">
    <img class="lightbox__button lightbox__button--next" src="{{ 'images/next.png' | theme_url }}">

    {% for content in page.contents %}

        <div class="lightbox__container">

            <img class="lightbox__item lightbox__item--image"
                src="{{ content.proxy_images.medium.src | site_url }}"
                data-src="{{ content.src | site_url }}">

            {% if page.show_captions %}

                <div class="lightbox__caption">

                    {{ render_caption(page, content) }}

                </div>

            {% endif %}

        </div>

    {% endfor %}

</div>