{% macro render_menu_items() %}

    {% for item in menu %}

        {% if item.is_link_page %}

            {% set current_item = "menu-item--current"
                if page and page.url == item.url
                else ""
            %}

            <a class="menu-item menu-item--link-page {{ current_item }}"
               href="{{ item.url }}"
            >{{ item.label }}</a>

        {% elif item.is_link_url %}

            <a class="menu-item menu-item--link-url"
               href="{{ item.url }}"
               target="_blank"
            >{{ item.label }}</a>

        {% elif item.is_spacer %}

            {% set label = item.label if item.label is not none else "" %}

            <span
                class="menu-item menu-item--spacer size--{{ item.size }}"
            >{{ label }}</span>

        {% endif %}

    {% endfor %}

{% endmacro %}


{% macro render_content(page, content) %}

    {# See ./src/scss/layouts/_contents.scss for structure. #}

    <div class="content__container">

        {% if content.is_image %}

            <div class="content content--image">
                <img
                    src="{{ content.proxy_images.medium.src | site_url }}"
                    data-src="{{ content.src | site_url }}"
                >
            </div>

        {% elif content.is_video %}

            <div class="content content--video">

                <video controls>
                    <source
                        src="{{ content.src | site_url }}"
                        type="{{ content.mimetype }}"
                    >
                </video>

            </div>

        {% elif content.is_audio %}

            <div class="content content--audio">

                <audio controls preload="metadata">
                    <source
                        src="{{ content.src | site_url }}"
                        type="{{ content.mimetype }}"
                    >
                    Your browser does not support the audio element.
                </audio>

            </div>

        {% elif content.is_embedded %}

            <div class="content content--embedded">{{ content.html | safe }}</div>

        {% elif content.is_text_block %}

            {% set align = content.align if content.align else "justify" %}

            <div class="content content--text-block typeset align--{{ align }}">
                {{ content.body | safe }}
            </div>

        {% elif content.is_header %}

            {% set size = content.size if content.size else "medium" %}
            {% set align = content.align if content.align else "left" %}

            <div class="content content--header size--{{ size }} typeset align--{{ align }}">
                {{ content.text }}
            </div>

        {% elif content.is_break %}

            {% set size = content.size if content.size else "medium" %}

            <div class="content content--break size--{{ size }}"></div>

        {% endif %}

        {% if page.show_captions and not page.is_gallery %}

            {# NOTE: Captions for galleries are rendered in the Lightbox. #}

            <div class="content__caption">

                {{ render_caption(content) }}

            </div>

        {% endif %}

    </div>

{% endmacro %}


{% macro render_caption(content, align_default="left") %}

    {% if content.caption_title or content.caption_description %}

        {% set align = content.caption_align if content.caption_align else align_default %}

        <div class="caption align--{{ align }}">

            {% if content.caption_title %}

                <span class="caption__title typeset">
                    {{ content.caption_title | safe }}
                </span>

            {% endif %}

            {% if content.caption_description %}

                <span class="caption__description typeset">
                    {{ content.caption_description | safe }}
                </span>

            {% endif %}

        </div>

    {% endif %}

{% endmacro %}


{% macro debug_page() %}

    {% if page and debug %}

        {% if page.title %}
            title: {{ page.title }}<br><br>
        {% endif %}

        {% if page.date %}
            date: {{ page.date }}<br><br>
        {% endif %}

        {% if page.description %}
            description: {{ page.description }}<br><br>
            description-body: {{ page.description.body }}<br><br>
        {% endif %}

        {% if page.cover %}
            cover: {{ page.cover }}
            cover-small: <img src="{{ page.cover.proxy_images.small.src | site_url }}"><br><br>
            cover-medium: <img src="{{ page.cover.proxy_images.medium.src | site_url }}"><br><br>
            cover-large: <img src="{{ page.cover.proxy_images.large.src | site_url }}"><br><br>
        {% endif %}

    {% endif %}

{% endmacro %}
