<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if page
            and page.is_index
            and config.site.description is not none
        %}
            <meta name="description" content="{{ config.site.description }}">
        {% endif %}

        {% if config.site.author is not none %}
            <meta name="author" content="{{ config.site.author }}">
        {% endif %}

        {% if config.site.favicon is not none %}
            <link rel="shortcut icon" href="{{ config.site.favicon | site_url }}">
        {% endif %}

        {% set page_title = page.config.title ~ " • "
            if page
            and page.config.title is not none
            and not page.is_index
            else ""
        %}

        {% set site_title = config.site.title
            if config.site.title is not none
            else ""
        %}

        <title>{{ page_title }}{{ site_title }}</title>

        <link rel="stylesheet" type="text/css" href="{{ 'css/bundle-#.css' | theme_url }}"/>

    </head>

    <body>

        <header>

            <div id="title">
                {% include "_title.html" %}
            </div>

            <div id="menu">
                {% include "_menu-base.html" %}
                {% include "_menu-mobile.html" %}
            </div>

        </header>

        <main>{% block main %}{% endblock %}</main>

        <footer>{% include "_footer.html" %}</footer>

        {% if page and page.is_gallery %}
            {% include "_lightbox.html" %}
        {% endif %}

        <script src="{{ 'javascript/bundle-#.js' | theme_url }}"></script>

    </body>

</html>